[Unit]
Description=RustD Container Getty on %I
After=basic.target

[Service]
Type=simple
ExecStart=/usr/sbin/agetty -L /dev/pts/%I 115200,38400,9600 vt220
Restart=always
TTYPath=/dev/pts/%I
StandardInput=tty
StandardOutput=tty
StandardError=tty
