[Unit]
Description=RustD Graphical Interface
Requires=multi-user.target
Wants=display-manager.service
After=multi-user.target display-manager.service
AllowIsolate=yes

[Install]
Alias=default.target
