[Unit]
Description=RustD Local File Systems
Wants=rustd-remount-fs.service rustd-udev-settle.service
After=rustd-remount-fs.service rustd-udev-settle.service
