[Unit]
Description=RustD Journal Service
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
Type=simple
StandardOutput=null
StandardError=null
ExecStart=/usr/lib/rustd/rustd-journald --runtime-directory /run/rustd/journal
Restart=always
RestartSec=1s
StartLimitIntervalSec=30
StartLimitBurst=5

[Install]
WantedBy=sysinit.target
