[Unit]
Description=RustD Temporary Files Setup
DefaultDependencies=no
Requires=rustd-sysusers.service
After=rustd-sysusers.service local-fs.target
Before=sysinit.target

[Service]
Type=oneshot
StandardOutput=null
StandardError=null
ExecStartPre=/usr/bin/mkdir -p /run/rustd/journal /run/dbus /run/avahi-daemon /run/chrony /run/audit
ExecStart=/usr/bin/rustd-tmpfiles
ExecStartPost=/usr/sbin/restorecon -F /run/rustd /run/dbus /run/avahi-daemon /run/chrony /run/audit
RemainAfterExit=yes
