[Unit]
Description=RustD Device Event Manager
Documentation=man:rustd-udevd(8)
DefaultDependencies=no
After=rustd-sysusers.service rustd-tmpfiles-setup-dev.service
Before=sysinit.target
ConditionPathIsReadWrite=/sys

[Service]
Type=simple
ExecStart=/usr/lib/rustd/rustd-udevd
Restart=always
RestartSec=1s
KillMode=mixed

[Install]
WantedBy=sysinit.target
