[Unit]
Description=RustD Journal Service
DefaultDependencies=no
After=rustd-journald.socket rustd-journald-dev-log.socket local-fs.target rustd-tmpfiles-setup.service
Requires=rustd-journald.socket rustd-journald-dev-log.socket rustd-tmpfiles-setup.service
Before=sysinit.target

[Service]
Type=simple
Sockets=rustd-journald.socket rustd-journald-dev-log.socket
StandardOutput=null
StandardError=null
ExecStartPre=/usr/bin/mkdir -p /run/rustd/journal
ExecStartPre=/usr/sbin/restorecon -F /run/rustd /run/rustd/journal
ExecStart=/usr/lib/rustd/rustd-journald --runtime-directory /run/rustd/journal
Restart=always
RestartSec=1s
StartLimitIntervalSec=30
StartLimitBurst=5

[Install]
WantedBy=sysinit.target
