[Unit]
Description=RustD Login Service
After=basic.target
Before=rustd-user-sessions.service shutdown.target
Conflicts=shutdown.target

[Service]
Type=notify
BusName=io.rustd.Login1
ExecStart=/usr/lib/rustd/rustd-logind
Restart=on-failure

[Install]
WantedBy=multi-user.target
