[Unit]
Description=RustD Random Seed
DefaultDependencies=no
Before=sysinit.target shutdown.target
After=rustd-tmpfiles-setup.service
Requires=rustd-tmpfiles-setup.service

[Service]
Type=oneshot
StandardOutput=null
StandardError=null
ExecStart=/usr/lib/rustd/rustd-random-seed load
ExecStop=/usr/lib/rustd/rustd-random-seed save
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
