[Unit]
Description=RustD Temporary Files Setup
DefaultDependencies=no
Requires=rustd-sysusers.service
After=rustd-sysusers.service local-fs.target
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rustd-tmpfiles
ExecStartPost=/usr/sbin/restorecon -F /run/rustd /run/dbus /run/avahi-daemon
RemainAfterExit=yes
