[Unit]
Description=RustD Device Event Manager
Documentation=man:rustd-udevd(8)
DefaultDependencies=no
After=systemd-sysusers.service systemd-tmpfiles-setup-dev.service
Before=sysinit.target
ConditionPathIsReadWrite=/sys

[Service]
Type=simple
ExecStart=/usr/lib/rustd/rustd-udevd --daemon
Restart=always
RestartSec=1s
KillMode=mixed

[Install]
WantedBy=sysinit.target
Alias=systemd-udevd.service
