[Unit]
Description=Device Event Daemon (compatibility name for systemd-udevd.service)
Documentation=man:rustd-udevd(8)
DefaultDependencies=no
Requires=rustd-udevd.service
After=rustd-udevd.service
BindsTo=rustd-udevd.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/true

[Install]
WantedBy=sysinit.target
